/*
  Custom CSS
  Author : Adli Fariz Bonaputra
*/

@font-face{
  font-family: "Gotham-Medium";
  src:url(./assets/fonts/Gotham-Medium.otf);
}

@font-face{
  font-family: "Gotham-Light";
  src:url(./assets/fonts/Gotham-Light.otf);
}

@font-face{
  font-family: "Gotham-Book";
  src:url(./assets/fonts/Gotham-Book.otf);
}

body{
  font-family: "Gotham-Medium" !important;
  background-color: #695c4b !important;
  /*background: url(./assets/img/background-02.png) no-repeat;
  background-size: 100%;*/
}

/*----------------*/
/* Navigation Bar */
/*----------------*/
.navbar ul{
  padding: 0;
}

.navbar a,
.navbar a:hover{
  text-decoration: none;
  color: #fff;
}

.navbar li{
  margin-right: 20px;
  display: inline-block;
  color: #fff;
  font-size: 12pt;
  padding: 5px 10px;
}

.navbar li:hover{
  background-color: #d0b03e;
  cursor: default;
  border-radius: 5px;
  color: #fff;
}

/*----------------*/
/* Menu Container */
/*----------------*/
.food-menu,
.cake-menu{
  padding: 0 !important;
}

.grid .effect-lily {
	overflow: hidden;
  max-height: 400px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.grid .effect-lily:hover{
  background: #658485;
}

.grid .effect-lily img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid .effect-lily .caption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid .effect-lily .caption::before,
.grid .effect-lily .caption::after {
	pointer-events: none;
}

.grid .effect-lily .caption,
.grid .effect-lily .caption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid .effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.6;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

.grid .effect-lily .caption {
	text-align: left;
}

.grid .effect-lily .caption > div{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

.grid .effect-lily h2,
.grid .effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.grid .effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.grid .effect-lily p {
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.grid .effect-lily:hover img{
	opacity: 0.3;
}

.grid .effect-lily:hover p{
  opacity: 1;
}

.grid .effect-lily:hover img,
.grid .effect-lily:hover h2,
.grid .effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.grid .effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/*----------*/
/* About Us */
/*----------*/
.content-about{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
}

.content-about p{
  font-family: "Gotham-Book";
}

/*--------*/
/* Footer */
/*--------*/
.footer{
  padding: 0;
}

.social-media{
  margin: 47px 0px;
}

.social-media img{
  margin-left: 10px;
}

.footer-info p{
  font-family: "Gotham-Light";
  font-size: 9pt;
  color: #fff;
}

.footer-info a,
.footer-info a:hover{
  color: #fff;
}
